@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: url('images/transfer.png') no-repeat center center fixed; 
  background-size: contain;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4B3F6B;
}
.navbar a, .navbar button {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
}
.navbar .logo a {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  color: white;
  padding: 50px 20px;
  background: linear-gradient(to right, #4B3F6B, #574E77);
}
.hero-text {
  max-width: 50%;
}
.hero-section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.hero-section p {
  font-size: 18px;
  margin-bottom: 30px;
}
.hero-form {
  margin: auto;
  max-width: 300px;
  border:2px solid #0d0d0d;
  padding:20px;
  Background-color:#f0f0f0;
}
  .hero-form form {
  display: flex;
  flex-direction: column;
}
.hero-form h1, .hero-form p {
  text-align: center;
  color: #0d0d0d;
}
.hero-section input, .hero-section select, .hero-section button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.hero-section button {
  background-color: #22b573;
  color: white;
  border: none;
  cursor: pointer;
}
.hero-section button:hover {
  background-color: #1d9a5b;
}
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.flags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.flags-container a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.flags-container img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
